body {
}


/* User Panel */
.panel-body {
	height: 467px; 
	overflow-y: scroll; 
	overflow-x: hidden;
}

.user {
    cursor: pointer !important;
}

.onlineUsers {    
    min-height: 565px;
}

.chatTab {
    cursor: pointer !important;
}

.navbar {
    margin-bottom:30px!important;
}

.row{
    margin:15px -15px;
}

.media-body{
    position:relative;
}

.media-body > i.fa {
    font-size:18px;
    position:absolute;
    top:0;
    right:0;
}